.css_student_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_student_id_grid_line {vertical-align: top;text-align: right;}
.css_title_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_title_id_grid_line {vertical-align: top;text-align: right;}
.css_firstname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_firstname_grid_line {vertical-align: top;text-align: right;}
.css_lastname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lastname_grid_line {vertical-align: top;text-align: right;}
.css_program_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_program_id_grid_line {vertical-align: top;text-align: right;}
.css_addr_mobilephone_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_addr_mobilephone_grid_line {vertical-align: top;text-align: right;}
.css_addr_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_addr_email_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_created_date_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_created_date_grid_line {vertical-align: top;text-align: center;}
.css_modified_date_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_modified_date_grid_line {vertical-align: top;text-align: center;}
.css_faculty_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_faculty_id_grid_line {vertical-align: top;text-align: right;}
